h1 {
  color: #1F3C56;
  text-align: center;
  border-style: dashed;
  background-color: white;
  border-width: 3px;
  border-color: #1F3C56;
  width: 100%
}

.global-nav {
  border: 2px dashed;
  border-color: #1F3C56;
  width: 15%
}

nav:hover {
  background-color: white;
}

nav {
  transition: background-color 1s;
}

p {
  color: #10171C;
}

body {
  background-color: #D9E8F6;
  font-family: 'Heebo', sans-serif;
}

footer:hover {
  background-color: white;
}

footer {
  transition: background-color 1s;
  color: #1F3C56;
  text-align: center;
  border-style: dashed;
  border-width: 3px;
  border-color: #1F3C56;
  width: 100%
}

i[class^="fas"] {
  text-align: center;
  color: #1F3C56;
  padding: 20px;
}

.title:hover {
  border: 3px dotted;
}

.title {
  transition: border 1s;
  text-align: center;
  background-color: white;
  border: 2px dotted;
}

#bunnies:hover {
  border-style: dashed;
  border-color: blue;
  background-color: white;
}

#bunnies {
  transition: background-color 1s;
}

#Ebey:hover {
  border-style: dashed;
  border-color: blue;
  background-color: white;
}

#Ebey {
  transition: background-color 1s;
}

h2.categories {
  color: white;
  text-align: center;
  background-color: navy;
}

img {
  border-style: solid;
  border-color: navy;
  border-width: 3px;
  width: 30%;
  padding: 10px;
}

.holiday {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
}

.holiday-image:hover {
  width: 325px;
  height: 325px;
}

.holiday-image {
  border: 10px solid #fff;
  float: left;
  height: 300px;
  width: 300px;
  margin: 20px;
  overflow: hidden;
}

button,input,select,textarea {
  font-size: 100%;
  box-sizing: border-box;
  display: block;
  margin: 1rem;
}

input[type=submit] {
  width: 100%;
  background-color: navy;
  color: #ffffff;
}

input {
  border-radius: 15px;
}

fieldset {
  border: none;
}

fieldset input {
  display: inline;
}

.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox label {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-top: 12px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #ccc;
}

.checkbox label:hover input~.checkmark {
  background-color: #bbb;
}

.checkbox input:checked~.checkmark {
  background-color: navy;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkmark:after {
  display: block;
}

.checkbox .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

#contact-interests {
  margin-left: 1%;
}
