h1 {
  color: #1F3C56;
  text-align: center;
  border-style: dashed;
  background-color: white;
  border-width: 3px;
  border-color: #1F3C56;
  width: 100%
}

.global-nav {
  border: 2px dashed;
  border-color: #1F3C56;
  width: 15%
}

nav:hover {
  background-color: white;
}

nav {
  transition: background-color 1s;
}

p {
  color: #10171C;
}

body {
  background-color: #D9E8F6;
  font-family: 'Heebo', sans-serif;
}

footer:hover {
  background-color: white;
}

footer {
  transition: background-color 1s;
  color: #1F3C56;
  text-align: center;
  border-style: dashed;
  border-width: 3px;
  border-color: #1F3C56;
  width: 100%
}

i[class^="fas"] {
  text-align: center;
  color: #1F3C56;
  padding: 20px;
}

.title {
  text-align: center;
  background-color: white;
  border-style: dashed;
}

#bunnies:hover {
  border-style: dashed;
  border-color: blue;
  background-color: white;
}

#bunnies {
  transition: background-color 1s;
}

#Ebey:hover {
  border-style: dashed;
  border-color: blue;
  background-color: white;
}

#Ebey {
  transition: background-color 1s;
}

h2.categories {
  color: white;
  text-align: center;
  background-color: navy;
}

img {
  border-style: solid;
  border-color: navy;
  border-width: 3px;
  width: 30%;
  padding: 10px;
}

.holiday {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  flex-wrap: wrap;
}

.holiday-image {
  border: 10px solid #fff;
  float: left;
  height: 300px;
  width: 300px;
  margin: 20px;
  overflow: hidden;
}

.holiday-image:hover {
  width: 325px;
  height: 325px;
}
